<!-- Left side menu section -->
<div class="leftside-menu">
  <div class="logo" routerLink="/">T-Studio</div>
  <div class="menu">
    <div>
      <a class="menu-item" routerLink="./addwords">
        <mat-icon class="icon" aria-hidden="false">add</mat-icon>
        <span>Add words</span>
      </a>
    </div>
    <div>
      <a class="menu-item">
        <mat-icon class="icon" aria-hidden="false">add_box</mat-icon>
        <span>Add phrasal verb</span>
      </a>
    </div>
    <div>
      <a class="menu-item" href="">
        <mat-icon class="icon" aria-hidden="false">add_circle_outline</mat-icon>
        <span>Add word example</span>
      </a>
    </div>
    <div>
      <a class="menu-item" href="">
        <mat-icon class="icon" aria-hidden="false">add_circle</mat-icon>
        <span>Add PV example</span>
      </a>
    </div>
  </div>
</div>