<!-- Left side menu section -->
<div class="leftside-menu">
  <div class="logo" routerLink="/">T-Studio</div>
  <div class="menu">
    <div>
      <a class="menu-item" routerLink="./addwords">
        <mat-icon class="icon" aria-hidden="false">add</mat-icon>
        <span>Add a word</span>
      </a>
    </div>
    <div>
      <a class="menu-item">
        <mat-icon class="icon" aria-hidden="false">edit</mat-icon>
        <span>Edit a word</span>
      </a>
    </div>
    <div>
      <a class="menu-item" href="">
        <mat-icon class="icon" aria-hidden="false">add</mat-icon>
        <span>Add a PV</span>
      </a>
    </div>
    <div>
      <a class="menu-item" href="">
        <mat-icon class="icon" aria-hidden="false">edit</mat-icon>
        <span>Edit a PV</span>
      </a>
    </div>
  </div>
</div>