<div class="main-container">
  <!-- Left side menu section -->
  <div class="leftside-menu">
    <div class="logo">Trainer</div>
    <div class="menu">
      <div><a class="menu-item" href="">Library</a></div>
      <div><a class="menu-item" href="">Train now</a></div>
      <div><a class="menu-item" href="">Chat</a></div>
      <div><a class="menu-item" href="">Reading</a></div>
    </div>

    <!-- My tracks section -->
    <div class="my-tracks">
      <p>My tracks</p>
      <div class="track-list">

      </div>
    </div>
  </div>

  <!-- Content section -->
  <div class="main-contant">
    <!-- Header -->
    <div class="header">
      <div class="accordion">

      </div>
    </div>
    <!-- Page -->
    <div class="page">
      <div class="new-releses">
        <app-track-card></app-track-card>
      </div>
      <div class="recently-tried">

      </div>
      <div class="recommendations">
        
      </div>
    </div>
  </div>
</div>
