@import 'src/styles.sass'
  
.main-content
  grid-column: 2
  grid-row: 1
  width: 100%
  height: 100%
  overflow: auto
  .header
    height: $header-height
    width: 100%
    border-bottom: 1px solid $borders
    background: $header-gradient
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 85% 15%
    .accordion
      grid-column: 1
      grid-row: 1
    .search
      grid-column: 1
      grid-row: 2
      align-self: center
      padding: 10px
      input 
        width: 100%
        background: transparent
        border: none
        border: 1px solid #99999950
        border-radius: 10px
        padding: 5px 10px
        color: $text-common
        &:focus
          outline: none
  .search-result
    padding: 30px 10px 20px 20px
    color: $text-common
    .text
      font-weight: 600
      color: $primary
      font-size: 2rem
    .transcription
      padding: 20px 0px 10px 0px
      font-size: 1.15rem
      span
        color: $text-gray
    .translation
      padding: 10px 0px
      font-size: 1rem
    .examples
      padding: 10px 0px 5px 0px
      font-size: 1rem
      .title
        color: $text-gray
        font-weight: 500
        padding: 5px 0px
      .example-row
        margin: 7px 25px  

  .page
    display: grid
    grid-template-columns: 100%
    grid-template-rows: auto
    gap: 20px
    .card-container
      p
        color: $text-common
        font-size: 1.5rem
        font-weight: bold
        padding: 15px 0px 0px 15px
      .cards
        display: grid
        grid-template-columns: repeat(auto-fill, 230px)
        grid-template-rows: 250px
        max-height: 265px
        padding: 5px 5px 5px 15px
        gap: 20px 0px
        overflow: hidden

.profile-menu
  position: absolute
  right: 30px
  top: 15px


::ng-deep
  datalist 
    background: red !important
    width: 800px !important