<!-- Content section -->
<div class="main-content">
  <!-- Header -->
  <div class="header">
    <div class="accordion">

    </div>
    <div class="search">
      <input type="text" list="cars" (input)="findWords()" placeholder="Type a word for search" #searchBox name="search" [(ngModel)]="searchValue" 
      (keyup)="clearSearch($event)" (change)="selectWord(searchBox.value)"/>
      <datalist id="cars" *ngIf="foundWords.length">
        <option *ngFor="let word of foundWords" [value]="word.text">{{word.translation}}</option>
      </datalist>
    </div>
  </div>

  <!-- Search Result -->
  <div class="search-result" *ngIf="showSearchResult">
    <div class="text">{{word?.text}}</div>

    <!-- Transcription -->
    <div *ngIf="word?.transcription" class="transcription"> <span>|</span> {{word?.transcription}} <span>|</span></div>
  
    <!-- Translation -->
    <div class="translation">
      <i>{{word?.translation}}</i>
    </div>
  
    <!-- Examples -->
    <div class="examples" *ngIf="word?.examples?.length">
      <div class="title">Examples</div>
      <div class="example-row" *ngFor="let example of word.examples">
        <span>{{example?.phrase}}</span> - <span><i>{{example?.translation}}</i></span>
      </div>
    </div>
  </div>

  <!-- Page -->
  <div class="page" *ngIf="!showSearchResult">
    <div class="new-releses card-container">
      <p *ngIf="newReleasesTracks.length">New Releases</p>
      <div class="cards" *ngIf="newReleasesTracks.length">
        <app-track-card *ngFor="let _track of newReleasesTracks" [track]="_track"></app-track-card>
      </div>
    </div>
    <div class="recent-tracks card-container">
      <p>Recent Tracks</p>
      <div class="cards">
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
      </div>
    </div>
    <div class="recommendations card-container">
      <p>Recommendations</p>
      <div class="cards">
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
      </div>
    </div>
  </div>
</div>
