<!-- Content section -->
<div class="main-content">
  <!-- Header -->
  <div class="header">
    <div class="accordion">

    </div>
  </div>
  <!-- Page -->
  <div class="page">
    <div class="new-releses card-container">
      <p>New Releases</p>
      <div class="cards" *ngIf="newReleasesTracks.length">
        <app-track-card *ngFor="let _track of newReleasesTracks" [track]="_track"></app-track-card>
      </div>
    </div>
    <div class="recent-tracks card-container">
      <p>Recent Tracks</p>
      <div class="cards">
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
      </div>
    </div>
    <div class="recommendations card-container">
      <p>Recommendations</p>
      <div class="cards">
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
        <app-track-card></app-track-card>
      </div>
    </div>
  </div>
</div>
