<div class="container">
  <div class="header">
    <span>Add a new word</span>
  </div>
  <div class="add-section">
    <form id="fff" #form="ngForm" (keydown.enter)="$event.preventDefault()">

      <!-- <mat-form-field >
        <mat-label>English</mat-label>
        <input matInput required [(ngModel)]="currentWord.text" #text="ngModel" name="text" 
          pattern="^[^\s*][a-zA-Z-\s']+$"> 
        <mat-error *ngIf="text.invalid && text.errors?.['required']">This is required field!</mat-error>
        <mat-error *ngIf="text.invalid && text.errors?.['pattern']">Only letters and space are allowed</mat-error>
      </mat-form-field> -->

      <mat-form-field>
        <mat-label>English</mat-label>
        <input matInput required [(ngModel)]="currentWord.text" #text="ngModel" name="text" 
        pattern="^[^\s*][a-zA-Z-\s']+$" [matAutocomplete]="auto"> 
        <mat-error *ngIf="text.invalid && text.errors?.['required']">This is required field!</mat-error>
        <mat-error *ngIf="text.invalid && text.errors?.['pattern']">Only letters and space are allowed</mat-error>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let word of addedWords" [value]="word.text" [disabled]="true">
            {{word.text}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

  
      <mat-form-field>
        <mat-label>Transcription</mat-label>
        <input matInput [(ngModel)]="currentWord.transcription" #transcription="ngModel" name="transcription"
          (keyup)="keyUpInput()">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Translation</mat-label>
        <input matInput required [(ngModel)]="currentWord.translation" #translation="ngModel" name="translation" 
          pattern="^([а-яА-Я-\s]+, [а-яА-Я-\s]+){1,}$"> 
          <mat-error *ngIf="translation.invalid && translation.errors?.['required']">This is required field!</mat-error>
        <mat-error *ngIf="translation.invalid && translation.errors?.['pattern']">You should match the pattern: "слово1, слово2, слово3, ..." Only letters and space are allowed</mat-error>
      </mat-form-field>

      <div class="added-examples">
        <div *ngFor="let example of examples">
          <span>{{example.phrase}}</span> - <span>{{example.translation}}</span>
        </div>
      </div>

      <mat-form-field>
        <mat-label>Example - press 'Enter' to admit an example</mat-label>
        <input matInput [(ngModel)]="exampleStr" #example="ngModel" name="example" 
          pattern="^[!?'a-zA-Z\s-]+ - [!?а-яА-Я\s-]+$" (keyup)="keyupOnExample($event)"> 
        <button class="btn-suffix" type="button" mat-icon-button matSuffix (click)="addNewExample()">
          <mat-icon>add_circle</mat-icon>
        </button>
        <mat-error *ngIf="example.invalid && example.errors?.['pattern']">You should match the pattern: english... - русский...</mat-error>
      </mat-form-field>
 
      <div class="controls">
        <button (click)="onSubmit()" class="btn-submit" [disabled]="form.form.invalid">ADD</button>
        <button class="btn-cancel" type="reset">RESET</button>
      </div>
    </form>

    <div class="added-words">
      <div class="row" *ngFor="let word of addedWords">
        <div class="col-1"><span>{{word.text}}</span></div>
        <div class="col-2"><span>[{{word.transcription}}]</span></div>
        <div class="col-3"><span>{{word.translation}}</span></div>
      </div>
    </div>
  </div>
</div>
