<div class="container">
  <div class="header">
    <span>Edit a phrasal verb</span>
  </div>

  <div class="search-section">
    <!-- Search field -->
    <div class="search">
      <mat-form-field appearance="standard">
        <mat-label>Search a word</mat-label>
        <input matInput (input)="findPhrasalVerbs()" placeholder="" #searchBox name="search" [(ngModel)]="searchValue" 
        (keyup)="clearSearch($event)">
      </mat-form-field>
    </div>

    <!-- Search result -->
    <div class="search-result" *ngIf="foundPVs.length">
        <app-phrasal-verb-row class="search-result-row" *ngFor="let pv of foundPVs"
        (clickButton)="editPhrasalVerb($event)" [phrasalVerb]="pv"></app-phrasal-verb-row>
    </div>
  </div>

  <div class="add-section" *ngIf="this.currentPV.text">
    <form #form="ngForm" (keydown.enter)="$event.preventDefault()">

      <mat-form-field>
        <mat-label>English</mat-label>
        <input matInput required [(ngModel)]="currentPV.text" #text="ngModel" name="text" 
        pattern="^[^\s*][a-zA-Z-\s']+$" [matAutocomplete]="auto"> 
        <mat-error *ngIf="text.invalid && text.errors?.['required']">This is required field!</mat-error>
        <mat-error *ngIf="text.invalid && text.errors?.['pattern']">Only letters and space are allowed</mat-error>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let pv of editedPVs" [value]="pv.text" [disabled]="true">
            {{pv.text}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Translation</mat-label>
        <input matInput required [(ngModel)]="currentPV.translation" #translation="ngModel" name="translation" 
          pattern="^[а-яА-Я-\sёЁ]+(, [а-яА-Я-\sёЁ]+){0,}$"> 
          <mat-error *ngIf="translation.invalid && translation.errors?.['required']">This is required field!</mat-error>
        <mat-error *ngIf="translation.invalid && translation.errors?.['pattern']">You should match the pattern: "слово1, слово2, слово3, ..." Only letters and space are allowed</mat-error>
      </mat-form-field>

      <div class="added-examples">
        <div *ngFor="let example of examples" class="example-row">
          <span>{{example.phrase}}</span> - <span>{{example.translation}}</span>
          <mat-icon (click)="editExample(example)">edit</mat-icon>
        </div>
      </div>

      <mat-form-field>
        <mat-label>Example - press 'Enter' to admit an example</mat-label>
        <input matInput [(ngModel)]="exampleStr" #example="ngModel" name="example" 
          pattern="^[!?'a-zA-Z\s-,]+ - [ё!?а-яА-Я\s-,]+$" (keyup)="keyupOnExample($event)"> 
        <button class="btn-suffix" type="button" mat-icon-button matSuffix (click)="addNewExample()">
          <mat-icon>add_circle</mat-icon>
        </button>
        <mat-error *ngIf="example.invalid && example.errors?.['pattern']">You should match the pattern: english... - русский...</mat-error>
      </mat-form-field>
 
      <div class="controls">
        <button (click)="onSubmit()" class="btn-submit" [disabled]="form.form.invalid">EDIT</button>
        <button (click)="onReset()" class="btn-cancel" type="reset">RESET</button>
      </div>
    </form>

    <div class="added-words">
      <div class="row" *ngFor="let pv of editedPVs">
        <div class="col-1"><span>{{pv.text}}</span></div>
        <div class="col-3"><span>{{pv.translation}}</span></div>
      </div>
    </div>
  </div>
</div>
