<div class="card">
  <div class="name">The weather is cloudy </div>
  <div class="item">Level: <span>Upper Intermediate</span></div>
  <div class="item">Rank: <span>152</span> | Amount: <span>23</span></div>
  <div class="item">Author: <span>sleepergoose</span></div>
  <div class="description">The words collection describes the weather for beginers and just for fun.</div>
  <div class="heart">
    <button mat-raised-button color="accent">Accent</button>
    <mat-icon class="icon" aria-hidden="false">favorite</mat-icon>
  </div>
</div>

