<!-- Left side menu section -->
<div class="leftside-menu">
  <div class="logo" routerLink="/admin">T-Studio</div>
  <div class="menu">
    <div>
      <a class="menu-item" routerLink="./addwords">
        <mat-icon class="icon" aria-hidden="false">add</mat-icon>
        <span>Add a word</span>
      </a>
    </div>
    <div>
      <a class="menu-item" routerLink="./editword">
        <mat-icon class="icon" aria-hidden="false">edit</mat-icon>
        <span>Edit a word</span>
      </a>
    </div>
    <div>
      <a class="menu-item" routerLink="./addphrasalverb">
        <mat-icon class="icon" aria-hidden="false">add</mat-icon>
        <span>Add a phrasal verb</span>
      </a>
    </div>
    <div>
      <a class="menu-item" routerLink="./editphrasalverb">
        <mat-icon class="icon" aria-hidden="false">edit</mat-icon>
        <span>Edit a phrasal verb</span>
      </a>
    </div>
  </div>
</div>