<!-- Content section -->
<div class="main-content">
  <!-- Header -->
  <div class="header">
    <div class="img-cover">
      <img src="../../../../../assets/dictionary_2.png" alt="">
    </div>
    <div class="info-block">
      <div class="name">
        <p>{{viewedTrack.name}}</p>
      </div>
      <div class="statistic">
        <p>Level: <span>{{viewedTrack.level | knowledgeLevel}}</span> Rank: <span>152</span> | Amount: <span>23</span></p>
      </div>
      <div class="description">
        <p>{{viewedTrack.description}}</p>
      </div>
      <div class="controls">
        <button mat-raised-button color="primary">Play</button>
        <mat-icon class="icon" aria-hidden="false">favorite</mat-icon>
      </div>
    </div>
  </div>

  <!-- Page -->
  <div class="words-list">
    <app-words-table [words$]="words$"></app-words-table>
  </div>
</div>
