<div class="book-row" >
  <div class="number">{{number}}</div>

  <div class="name">
    <span *ngIf="!isDescriptionShown">{{book.name}}</span>
    <input maxlength="300" *ngIf="isDescriptionShown" type="text" [(ngModel)]="book.name">
  </div>

  <div class="author">
    <span *ngIf="!isDescriptionShown">{{book.author}}</span>
    <input maxlength="200" *ngIf="isDescriptionShown" type="text" [(ngModel)]="book.author">
  </div>

  <div class="controls">
    <button class="control-button" mat-raised-button (click)="buttonEditClick()" *ngIf="editable && !isDescriptionShown">
      <span>Edit</span>
    </button>

    <button class="control-button" mat-raised-button (click)="buttonEditClick()" *ngIf="editable && isDescriptionShown">
      <span>Save</span>
    </button>

    <button class="control-button" mat-raised-button (click)="buttonDeleteClick()" *ngIf="editable && isDescriptionShown">
      <span>Del</span>
    </button>

    <button class="control-button" mat-raised-button (click)="buttonReadClick()" *ngIf="editable && !isDescriptionShown">
      <span>Read</span>
    </button>

    <button class="control-button" mat-raised-button (click)="buttonReadClick()" *ngIf="editable && isDescriptionShown">
      <span>Back</span>
    </button>
  </div>

  <div class="description" *ngIf="isDescriptionShown">
    <textarea placeholder="Type book description here" [(ngModel)]="book.description" maxlength="4000"></textarea>
  </div>
</div>
