<div class="book-row" >
  <div class="number">{{number}}</div>

  <div class="name">
    <span *ngIf="!isDescriptionShown">{{book.name}}</span>
    <input maxlength="400" *ngIf="isDescriptionShown" type="text" [(ngModel)]="book.name">
  </div>

  <div class="author">
    <span *ngIf="!isDescriptionShown">{{book.author}}</span>
    <input maxlength="200" *ngIf="isDescriptionShown" type="text" [(ngModel)]="book.author">
  </div>

  <div class="controls">
    <button class="btn-edit" mat-raised-button (click)="buttonEditClick()" *ngIf="editable">
      <span *ngIf="!isDescriptionShown">Edit</span>
      <span *ngIf="isDescriptionShown">Save</span>
    </button>
    <button class="btn-read" mat-raised-button (click)="buttonReadClick()">
      Read
    </button>
  </div>

  <div class="description" *ngIf="isDescriptionShown">
    <textarea placeholder="Type book description here" maxlength="4000"></textarea>
  </div>
</div>
