<div class="container">
  <!-- Trainer -->
  <div class="trainer">

    <div class="progress">
      <label for="progress-bar">40%</label>
      <mat-progress-bar name="progress-bar" mode="determinate" value="40"></mat-progress-bar>
    </div>

    <div class="word">
      <span>name</span>
    </div>

    <div class="response">
      <input type="text">
    </div>

    <div class="controls">
      <button class="admit">Admit</button>
      <button class="translate">Translate</button>
      <button class="example-en">Example EN</button>
      <button class="example-ru">Example RU</button>
    </div>

    <div class="help">
      <div class="translation">
        <p class="caption">Translation:</p>
        <span>имя, название, называть, именовать</span>
      </div>
      <div class="examples">
        <p class="caption">Examples:</p>
        <span>She's name is Marry</span><span>Ее зовут Мария</span>
        <span>What's his name?</span><span>Как его зовут?</span>
        <span>I named it else</span><span>Я назвал его иначе</span>
      </div>
    </div>
  </div>

  <!-- Results -->
  <div class="results">

  </div>
</div>