<div class="container">
  <div class="track-info">
    <div class="name">{{track?.name}}</div>
    <div class="statistic">
      Level: <span>{{track?.level | knowledgeLevel}}</span> 
      |
      Rank: <span>{{track?.rate}}</span> 
      | 
      Amount: <span>{{track?.amount}}</span>
      | 
      Author: <span>{{track?.author?.name}}</span>
    </div>
  </div>

  <!-- Trainer -->
  <div class="trainer">

    <div class="progress">
      <label for="progress-bar">40%</label>
      <mat-progress-bar name="progress-bar" mode="determinate" value="40"></mat-progress-bar>
    </div>

    <div class="word">
      <span>name</span>
    </div>

    <div class="response">
      <input type="text">
    </div>

    <div class="controls">
      <button class="admit">Admit</button>
      <button class="translate">Translate</button>
      <button class="example-en">Example EN</button>
      <button class="example-ru">Example RU</button>
    </div>

    <div class="help">
      <div class="translation">
        <p class="caption">Translation:</p>
        <span>имя, название, называть, именовать</span>
      </div>
      <div class="examples">
        <p class="caption">Examples:</p>
        <app-example [examples]="currentTrainerWords.examples"></app-example>
      </div>
    </div>
  </div>

  <!-- Results -->
  <div class="results">

  </div>
</div>