<!-- Left side menu section -->
<div class="leftside-menu">
  <div class="logo" routerLink="/">Trainer</div>
  <div class="menu">
    <div>
      <a class="menu-item">
        <mat-icon class="icon" aria-hidden="false">favorite</mat-icon>
        <span>Library</span>
      </a>
    </div>
    <div>
      <a class="menu-item" (click)="goToTrainer()">
        <mat-icon class="icon" aria-hidden="false">play_circle_filled</mat-icon>
        <span>Train now</span>
      </a>
    </div>
    <div>
      <a class="menu-item" href="">
        <mat-icon class="icon" aria-hidden="false">chat</mat-icon>
        <span>Chat</span>
      </a>
    </div>
    <div>
      <a class="menu-item" routerLink="reading/books">
        <mat-icon class="icon" aria-hidden="false">library_books</mat-icon>
        <span>Reading</span>
      </a>
    </div>
  </div>

  <!-- My tracks section -->
  <div class="my-tracks">
    <div class="create-track-button">
      <button  mat-raised-button color="primary" [matMenuTriggerFor]="menu">Create Track</button>
      <mat-menu #menu="matMenu" class="customize">
        <button class="btn" mat-menu-item routerLink="trackview/create">Word Track</button>
        <button class="btn" mat-menu-item routerLink="trackview/pv/create">Phrasal Verb Track</button>
      </mat-menu>
    </div>
    <p *ngIf="isMyTrackContainerShown">Created tracks:</p>
    <div class="track-list" *ngIf="isMyTrackContainerShown">
      <a (click)="viewTrackInDetails(track)" *ngFor="let track of createdTracks">{{track.name}}</a>
    </div>
  </div>
</div>